In [1]:
import pandas as pd

In [2]:
# Load your dataset
df = pd.read_csv("Downloads//gender_submission.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [3]:
# Identify duplicates
duplicates = df[df.duplicated()]

In [4]:
# Remove duplicates
df_no_duplicates = df.drop_duplicates()

In [5]:
df_no_duplicates = df.drop_duplicates(subset=['PassengerId', 'Survived'])

In [6]:
df_no_duplicates.to_csv("cleaned_dataset.csv", index=False)

In [7]:
df_no_duplicates

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]